.change_password_form{
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin: 0 auto;
    gap: 1.2rem;
}

.change_password_btn{
    display: flex;
    justify-content: center;
    gap: 1.2rem;
}